* {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(248, 246, 240);
    color: rgb(40, 40, 40);
}
.head {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    background-color: white;
}
.logo {
    height: 40px;
    width: 40px;
    border: 7px;
    transition: transform 0.3s ease box-shadow 0.3s ease;
}
.head_logo {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: transform 0.3s ease;
    top: 0;
    z-index: 1000;
    text-transform: uppercase;
    color: rgb(120, 150, 90);
}
.head_logo:hover {
    transform: translateY(-4px) scale(1.05);
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}
.hero_content {
    text-align: center;
    width: 700px;
}
.hero h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero p {
    font-size: 18px;
    color: gray;
}
.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 18px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

}

.navbar a {
    text-decoration: none;
    font-size: 15px;
    padding: 8px 16px;

    border-radius: 7px;
    display: flex;
    color: black;
    transition: 
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
    background-color: rgb(235, 241, 232);
    color: rgb(40, 40, 40);

}
.navbar a:hover {
    background-color: rgb(120, 150, 90);
    color: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}
.navbar a:focus {
    outline: none;
    background-color: gainsboro;
    color: black;
}
.group_section {
    padding: 48px 24px;
    text-align: center;
    gap: 10px;
    background-color: white;
    border-radius: 12px;
    max-width: 1500px;
    margin: 40px auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
}
.group_section h3 {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}
.group_input {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-top: 30px;

}
.group_input_name {
    height: 45px;
    width: 350px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    transform: border 0.3s ease box-shadow 0.3s ease;
    transition: border 0.3s ease;
}
.group_input_name:focus {
    border: 1px solid rgb(120, 150, 90);
    box-shadow: 0px 4px 12px rgba(120, 150, 90, 0.3);
}

.group_btn {
    height: 45px;
    transition: background-color 0.3s ease,transform 0.2s ease;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(120, 150, 90);
    color: white;
    cursor: pointer;

}
.group_btn:hover {
    background-color: lightgray;
    transform: translateY(-2px);
    color: black;
}
.steps {
    list-style: none;
    display: grid;
    gap: 20px;
    padding: none;
    margin-top: 0px;
    justify-content: center;
}
.step {
    margin-top: 25px;
    padding: none;
    position: relative;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease box-shadow 0.3s ease;
    background-color: whitesmoke;
    height: 50px;
    width: 500px;
}

.step:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.15);
}

.step p {
    font-size: 14px;
    color: rgb(50, 50, 50);
    margin-top: 10px;
}

.how_it_works h2 {
    padding: 10px;
}

@media(max-width: 600px) {
    .hero {
        height: 350px;
    }

    .hero_content {
        width: 100%;
    }

    .hero_content h1 {
        font-size: 30px;
    }

    .hero_content p {
        font-size: 15px;
    }

    .head_logo {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 16px;
    }

    .steps {
        display: grid;
        gap: 15px;
        grid-template-columns: 1;
        padding: 0 10px;
        margin: 20px auto;

    }
    .step {
        width: 350px;
        padding: 20px 15px 15px 15px;
        border-radius: 15px;



    }
    .navbar {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        gap: 10px;
        justify-content: center;
        padding: 12px 10px;

    }
    .navbar a {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
    }
    .group_input{
        border-radius: 15px;
    }
    .card {
        width: 250px;
        height: 150px;
    }


}